.business-name {
    font-size: 18px;
    float: left;
    text-align: left;
    font-weight: bold;
    color:#0F9D58 !important;
}
.business-list-items {
    background: white;
    border-radius: 15px;
}