.fs-1 {
  font-size: 1rem !important;
}
.fs-2 {
  font-size: 1.4rem !important;
}
.fs-3 {
  font-size: 1.8rem !important;
}
.fs-4 {
  font-size: 2rem !important;
}
.fs-5 {
  font-size: 2.2rem !important;
}
.fs-6 {
  font-size: 2.4rem !important;
}
.white-field {
  p,
  div,
  svg,
  input {
    color: white;
  }
  label {
    color: white;
  }
  fieldset {
    border-color: white;
  }
}
