#search-popup {
  .MuiPopover-paper {
    border-radius: 15px;
  }
}
.popover-results-container { 
  max-height: 40vh;
  overflow: overlay;
}
.category-box {
  border-radius: 30px;
  background-color: #f59f00;
}
.category-box-hospital {
  background-color: #37b24d !important;
}