.search-field, .search-field:hover, .search-field:active, .search-field:link, .search-field:focus {
  background-color: white;
  border-radius: 15px !important;
  width: 100%;
  fieldset {
    border: none;
    border-radius: 15px;
  }
}
#search-popup {
  .MuiPopover-paper {
    border-radius: 15px;
  }
}
.popover-results-container { 
  max-height: 40vh;
  overflow: overlay;
}
.category-box {
  color: white;
  border-radius: 30px;
  background-color: #f59f00;
}
.category-box-hospital {
  background-color: #37b24d !important;
}