@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
  font-family: "PT Sans", sans-serif;
}
body {
  background-color: #343A40 !important;
  color: white;
}
html {
  font-size: 62.5%;
}